:root {
	--primary: #d634aa;
	--background: #00171f;
}

html {
	font-family: system-ui, sans-serif;
	background: var(--background);
	background-size: 224px;
	color: white;
	overflow-x: hidden;
	max-width: 100vw;
	scroll-behavior: smooth;
}

body {
	margin: 0px;
}

section {
	scroll-margin-top: 100px;
	font-size: large;
	font-weight: bold;
	display: flex;
	justify-content: center;
	height: 80vh;
}

::-webkit-scrollbar {
	width: 0;
	background: transparent;
}
