.section {
	margin-top: 100px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	/* min-width: 100%; */
}

.hero {
	width: 100%;
}

.image {
	margin-bottom: 32px;
}

.h1 {
	margin: 0px;
	line-height: 36px;
	font-size: 24px;
	font-weight: 600;
}

.gradient {
	background-image: linear-gradient(90deg, #d634aa, #3d4fed);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

.p {
	font-weight: 500;
	color: var(--text-color);
	line-height: 20px;
	font-size: 12px;
}

.btn {
	border: 0px;
	padding: 8px;
	padding-left: 24px;
	padding-right: 24px;
	font-weight: 600;
	border-radius: 5px;
	border: solid white 2px;
	cursor: pointer;
	margin-top: 10px;
}

.projectsButton {
	background-color: white;
	color: var(--primary);
	margin-right: 20px;
}

.contactMeButton {
	background-color: transparent;
	color: white;
}

@media (min-width: 1024px) {
	.section {
		flex-direction: row-reverse;
		margin-top: 200px;
		margin-bottom: 200px;
	}

	.image {
		margin-bottom: 0px;
		min-width: 400px;
		min-height: 400px;
	}

	.hero {
		margin-right: 100px;
	}

	.h1 {
		font-size: 40px;
		line-height: 52px;
	}

	.p {
		font-size: 20px;
		line-height: 32px;
	}

	.btn {
		width: 200px;
		padding: 12px;
		font-size: 20px;
	}
}
